* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template: 2fr 1fr auto 1fr/ 1fr 4fr;
  grid-template-areas: 
  "header header"
  "aside nav"
  "aside main"
  "footer footer"
  ;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template: 1fr / 1fr 1fr 4fr;
}

.logo {
  grid-column: 1/2;
}

.menu {
  grid-column: 3/4;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu li {
  font-size: 16px;

}

.sidebar {
  background-color: #FF7755;
  display: grid;
  align-items: stretch;
  gap: 50px;
  grid-area: aside;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
  grid-area: nav;
  display: grid;
}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}

.card {
  height: 200px;
}